// Создаем переменные в области видимости всего html
:root{
    --border: 1px solid var(--text-color);

    --background-dark: #121212;
    --background-light: #FFFFFF;

    --text-dark: #cecece;
    --text-light: #666666;

    --hover-color-dark: #9D9D8C;
    --hover-color-light: #000;

    // По умолчанию
    --color-scheme: none;
    --background-color: var(--background-light);
    --text-color: var(--text-light);
    --hover-color: var(--hover-color-light);
    .content-window{
        border: 1px solid var(--background-color);
    }
}

// Если стоит темная тема, т.к. по умолчанию светлая
[what-is-user-scheme = 'dark'] {
    --background-color: var(--background-dark);
    --text-color: var(--text-dark);
    --hover-color: var(--hover-color-dark);
    .content-window, .mob-header{
        border: var(--border);
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --color-scheme: 'dark'
    }
    // если не установлена светлая тема
    :root:not([what-is-user-scheme]) {
        --color-scheme: 'dark';
        --background-color: var(--background-dark);
        --text-color: var(--text-dark);
        --hover-color: var(--hover-color-dark);
        .content-window, .mob-header{
            border:  var(--border);
        }
    }
}  

html, .mob-header{
    color: var(--text-color);
    background-color: var(--background-color);
}
.mob-header{
    border-bottom:  1px solid var(--text-color);
}

*::selection{
    background-color: #aaff3b;
}

a, a:visited, span{
    color: var(--text-color);
}

svg path{
    fill: var(--text-color)
}

.btn:hover{
    border-color: var(--hover-color);;
    color: var(--hover-color);
    span {
        color: var(--hover-color);
    }
    
}

a:hover{
    color: var(--hover-color);
    svg path{
        fill: var(--hover-color);
    }
}